@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="/assets/images/fev.png"><!--图标小话筒-->
    <!-- Place favicon.ico in the root directory -->
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- owl theme default -->
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- scrollable -->
    <link rel="stylesheet" href="/assets/css/jquery.scrollable.css">
    <!-- audioplayer -->
    <link rel="stylesheet" href="/assets/css/audioplayer.css">
    <!-- menu -->
    <link rel="stylesheet" href="/assets/css/menu.css">
    <!-- main -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- default -->
    <link rel="stylesheet" href="/assets/css/default.css">
    <!-- color -->
    <link rel="stylesheet" href="/assets/css/color.css">
</head>

<body>

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="header-nav-area js-common-nav sticky-on">
        <!-- header-nav -->
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-2 col-sm-6">
                    <div class="logo">
                        <a href="../Home/index"><img src="/assets/images/logo.png" alt="Devaid logo"></a><!--总logo-->
                    </div>
                </div><!-- col-lg-4 -->
                <div class="col-md-7 header-nav-none">
                    <nav class="header-nav">
                        <div class="cssmenu" data-title="Menu">
                            <ul class="menu list-inline">
                                <li>
                                    <a href="../Home/index">发现</a>
                                </li>
                                <li>
                                    <a href="../Home/myinfo">我的信息</a>
                                </li>
                                <li>
                                    <a href="../Home/SongList">我的歌单</a>
                                </li>
                                <li>
                                    <a href="../History/playhistory">我的历史</a>
                                </li>
                                <li>
                                    <a href="../Home/News">消息中心</a>
                                </li>
                                <li>
                                    <a href="../Home/create">我的创作</a>
                                </li>
                                <li>
                                    <a href="/Search/Searchresult">搜索</a>
                                </li>
                            </ul>
                        </div><!-- #header-menu-wrap -->
                    </nav><!-- .header-nav -->
                </div><!-- col-lg-7 -->

                <div class="col-md-3 pl-0 pull-right">
                    <div class="header-icon text-right">
                        <ul class="list-inline">
                            <li class="music primary-bg" id="js-music"> <i class="fa fa-music"></i></li>
                            <li class=""><a href="../Login/index"><i class="fa fa-sign-in"></i></a></li>
                            <li class="sidebar-menu"><span id="sidebar_menu_icon"><img alt="Icon" src="/assets/images/menu.png"></span></li>
                        </ul>
                    </div><!-- header-icon -->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </header><!-- header-nav -->

    <div class="js-offcanvas-menu js-index1-nav" id="js_offcanvas_menu">
        <nav class="header-nav">
            <span class="js-offcanvas-close"><i class="pe-7s-close"></i></span>
            <div class="cssmenu" data-title="Menu">
                <ul class="menu list-inline">
                    <li>
                        <a href="../Home/index">发现</a>
                    </li>
                    <li>
                        <a href="../Home/myinfo">我的信息</a>
                    </li>
                    <li>
                        <a href="../Home/SongList">我的歌单</a>
                    </li>
                    <li>
                        <a href="../History/playhistory">我的历史</a>
                    </li>
                    <li>
                        <a href="../Home/News">消息中心</a>
                    </li>
                    <li>
                        <a href="../Home/createproduct">我的创作</a>
                    </li>
                    <li>
                        <a href="/Search/Searchresult">搜索</a>
                    </li>
                </ul>
            </div><!-- #header-menu-wrap -->
        </nav> <!-- header-nav -->
    </div><!-- js-offcanvas-menu -->


    <section class="js-breadcrumb-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12 text-center has-color">
                    <div class="js-breadcrumb-content">
                        <h2>专 <span class="primary-color">辑 </span>详 情</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album-area album-bg2 has-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                    <div class="js-latest-album-item">
                        <div class="js-latest-album-thumbnails">
                            <div class="js-latest-album-thumbnail">
                                <img src="@ViewBag.img" alt="album-thumbnail">
                            </div>
                            <div class="js-latest-album-title">
                                <h4>@ViewBag.name</h4>
                                <p>
                                    <span class="primary-color">艺术家:</span> <a href="SingleArtist?id=@ViewBag.singername">@ViewBag.singername </a>
                                    <br><span class="primary-color">发行时间:</span> @ViewBag.date </br>
                                </p>
                                <p>@ViewBag.intro</p>
                                <div class="social-icon"></div>
                            </div>
                        </div><!-- js-latest-album-thumbnails -->
                    </div>
                </div><!-- col-lg-4 -->

                <div class="col-lg-8 col-sm-7 ">
                    <div class="js-audio-playlist scroll">
                        @for (int i = 0; i < @ViewBag.number; i++)
                        {
                        <li>
                            <div class="col-lg-12 row">
                                <h3 style="line-height:90px"><a href="Music?id=@ViewBag.songID[i]">@ViewBag.songName[i] </a></h3>
                            </div>
                        </li>
                        }
                    </div>
                </div><!-- container -->
    </section><!-- Album Section End -->


    <span class="scrolltop"><i class="pe-7s-angle-up"></i></span>
    <footer class="js-footer-area has-color">
        <div class="js-footer-subscribe pb-50 bg-dark has-color">

        </div><!-- js-footer-subscribe -->
    </footer> <!-- footer End-->


    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/jquery.jplayer.min.js"></script>
    <script src="/assets/js/jplayer.playlist.min.js"></script>
    <script src="/assets/js/audio-player.js"></script>
    <script src="/assets/js/audioplayer.js"></script>
    <script src="/assets/js/main.js"></script>


</body>

</html>
